:root {
  --color-navy: #183883;
  --color-black: #000000;
  --color-light-black: #333333;
  --color-sky-blue: #007cc2;
  --color-light-blue: #76c5f0;
  --color-grey: #aeaeae;
  --color-ivory: #f0f0f0;
  --color-red: #c90c00;
  --color-yellow: #f4c407;
  --color-light-yellow: #f9e183;
  --color-white: #ffffff;

  --font-inter: "Inter", sans-serif;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: var(--font-inter);

  /* overflow-x: hidden; */
}

.h-1,
.h-2,
.h-3,
.h-5 {
  font-weight: bolder;
}
.h-1 {
  font-size: 54px;
}
.h-2 {
  font-size: 42px;
}
.h-3 {
  font-size: 32px;
}
.h-5 {
  font-size: 22px;
}

.s-1,
.s-2 {
  font-weight: 500;
}
.s-1 {
  font-size: 16px;
}
.s-2 {
  font-size: 14px;
}

.t-1 {
  font-size: 18px !important;
}
.t-2 {
  font-size: 16px !important;
}
.p-1 {
  font-size: 18px !important;
}
.p-2 {
  font-size: 16px;
}
.p-3 {
  font-size: 14px;
}
.p-4 {
  font-size: 12px;
}
.p-5 {
  font-size: 10px;
}

.caption {
  font-size: 20px;
  font-weight: bolder;
}

.b-1,
.b-2,
.b-3 {
  font-weight: bold;
}
.b-1 {
  font-size: 20px;
}
.b-2 {
  font-size: 16px;
}
.b-3 {
  font-size: 14px;
}

.section-padding {
  padding: 1.25rem 7.5rem;
}
.padding-left {
  padding-left: 7.5rem;
}
.section-margin {
  margin: 4rem auto;
}

.navy {
  color: var(--color-navy);
}
.light-black {
  color: var(--color-light-black) !important;
}
.bg-light-blue {
  background-color: var(--color-light-blue);
}
.light-blue {
  color: var(--color-light-blue);
}

@media screen and (max-width: 700px) {
  .section-padding {
    padding: 2rem 4rem;
  }
  .padding-left {
    padding-left: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section-padding {
    padding: 2rem;
  }
  .padding-left {
    padding-left: 0rem !important;
  }
}

@media screen and (max-width: 440px) {
  .section-padding {
    padding: 1rem !important;
  }
}

/* disable default */
.p-1,
.p-2,
.p-3,
.p-4,
.p-5 {
  padding: 0 !important;
}
.form-select {
  width: 100% !important;
  box-shadow: none !important;
}
a {
  text-decoration: none;
}
.slider__container .carousel-indicators {
  max-width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.accordion-button {
  box-shadow: none !important;
  padding: 0 !important;
  padding: 10px 20px !important;
  z-index: 0 !important;
}

.baccordion__container .accordion-button,
.baccordion__container .accordion-body {
  background-color: var(--color-light-blue) !important;
  border-radius: 0.75rem !important;
  border: 1px solid var(--color-sky-blue) !important;
}

.custom__accordion-header {
  background-color: var(--color-light-blue) !important;
  border-radius: 0.75rem !important;
  border: 1px solid var(--color-sky-blue) !important;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .h-1 {
    font-size: 48px;
  }
  .h-2 {
    font-size: 36px;
  }

  .h-3 {
    font-size: 26px;
  }

  .b-1 {
    font-size: 18px;
  }
  .b-2 {
    font-size: 14px;
  }
  .b-3 {
    font-size: 12px;
  }
  .slider__container .carousel-indicators {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 500px) {
  .h-1 {
    font-size: 42px;
  }
  .h-2 {
    font-size: 30px;
  }

  .h-3 {
    font-size: 20px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
